<table class="players" cellpadding="0" cellspacing="0">
	<tr>
		<th>Name</th>
		<th class="align-center">Pos</th>
		<th class="align-center">Nat</th>
		<th class="align-right">&pound;</th>
		<th class="align-center"><abbr title="Passing">Pa</abbr></th>
		<th class="align-center"><abbr title="Velocity">Ve</abbr></th>
		<th class="align-center"><abbr title="Heading">He</abbr></th>
		<th class="align-center"><abbr title="Tackling">Ta</abbr></th>
		<th class="align-center"><abbr title="Ball Control">Co</abbr></th>
		<th class="align-center"><abbr title="Speed">Sp</abbr></th>
		<th class="align-center"><abbr title="Finishing">Fi</abbr></th>
		<th class="align-center"><abbr title="Total">Tot</abbr></th>
	</tr>
	<tr>
		<td class="align-right goalkeeper">1</td>
		<td class="goalkeeper">THOMAS RAVELLI</td>
		<td class="align-center goalkeeper">G</td>
		<td class="align-center goalkeeper">SWE</td>
		<td class="align-right goalkeeper">1.1M</td>
		<td colspan="8" class="align-center goalkeeper"></td>
	</tr>
	<tr>
		<td class="align-right firstteam">2</td>
		<td class="firstteam">ROLAND NILSSON</td>
		<td class="align-center firstteam">RB</td>
		<td class="align-center firstteam">SWE</td>
		<td class="align-right firstteam">850K</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class6">6</td>
		<td class="align-center skill_class5">5</td>
		<td class="align-center skill_class2">2</td>
		<td class="align-center skill_class2">2</td>
		<td class="align-center skill_class1">1</td>
		<td class="align-center skill_class4">26</td>
	</tr>
	<tr>
		<td class="align-right firstteam">3</td>
		<td class="firstteam">PATRIK ANDERSSON</td>
		<td class="align-center firstteam">D</td>
		<td class="align-center firstteam">SWE</td>
		<td class="align-right firstteam">1.9M</td>
		<td class="align-center skill_class5">5</td>
		<td class="align-center skill_class5">5</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class4">4</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class5">34</td>
	</tr>
	<tr>
		<td class="align-right firstteam">4</td>
		<td class="firstteam">JOACHIM BJORKLUND</td>
		<td class="align-center firstteam">D</td>
		<td class="align-center firstteam">SWE</td>
		<td class="align-right firstteam">1.1M</td>
		<td class="align-center skill_class4">4</td>
		<td class="align-center skill_class2">2</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class2">2</td>
		<td class="align-center skill_class4">4</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class5">29</td>
	</tr>
	<tr>
		<td class="align-right firstteam">5</td>
		<td class="firstteam">GARY SUNDGREN</td>
		<td class="align-center firstteam">LB</td>
		<td class="align-center firstteam">SWE</td>
		<td class="align-right firstteam">1M</td>
		<td class="align-center skill_class2">2</td>
		<td class="align-center skill_class5">5</td>
		<td class="align-center skill_class6">6</td>
		<td class="align-center skill_class6">6</td>
		<td class="align-center skill_class2">2</td>
		<td class="align-center skill_class5">5</td>
		<td class="align-center skill_class2">2</td>
		<td class="align-center skill_class4">28</td>
	</tr>
	<tr>
		<td class="align-right firstteam">6</td>
		<td class="firstteam">STEFAN SCHWARZ</td>
		<td class="align-center firstteam">LW</td>
		<td class="align-center firstteam">SWE</td>
		<td class="align-right firstteam">1.9M</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class2">2</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class5">5</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class5">34</td>
	</tr>
	<tr>
		<td class="align-right firstteam">7</td>
		<td class="firstteam">JESPER BLOMQVIST</td>
		<td class="align-center firstteam">RW</td>
		<td class="align-center firstteam">SWE</td>
		<td class="align-right firstteam">2.75M</td>
		<td class="align-center skill_class6">6</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class4">4</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class6">37</td>
	</tr>
	<tr>
		<td class="align-right firstteam">8</td>
		<td class="firstteam">KENNET ANDERSSON</td>
		<td class="align-center firstteam">A</td>
		<td class="align-center firstteam">SWE</td>
		<td class="align-right firstteam">2M</td>
		<td class="align-center skill_class6">6</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class6">6</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class5">35</td>
	</tr>
	<tr>
		<td class="align-right firstteam">9</td>
		<td class="firstteam">JONAS THERN</td>
		<td class="align-center firstteam">M</td>
		<td class="align-center firstteam">SWE</td>
		<td class="align-right firstteam">1.5M</td>
		<td class="align-center skill_class6">6</td>
		<td class="align-center skill_class2">2</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class5">31</td>
	</tr>
	<tr>
		<td class="align-right firstteam">10</td>
		<td class="firstteam">MARTIN DAHLIN</td>
		<td class="align-center firstteam">A</td>
		<td class="align-center firstteam">SWE</td>
		<td class="align-right firstteam">2.75M</td>
		<td class="align-center skill_class2">2</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class4">4</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class6">37</td>
	</tr>
	<tr>
		<td class="align-right firstteam">11</td>
		<td class="firstteam">PAR ZETTERBERG</td>
		<td class="align-center firstteam">M</td>
		<td class="align-center firstteam">SWE</td>
		<td class="align-right firstteam">2M</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class4">4</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class4">4</td>
		<td class="align-center skill_class5">35</td>
	</tr>
	<tr>
		<td class="align-right goalkeeper">12</td>
		<td class="goalkeeper">BENGT ANDERSSON</td>
		<td class="align-center goalkeeper">G</td>
		<td class="align-center goalkeeper">SWE</td>
		<td class="align-right goalkeeper">750K</td>
		<td colspan="8" class="align-center goalkeeper"></td>
	</tr>
	<tr>
		<td class="align-right benched">13</td>
		<td class="benched">TEDDY LUCIC</td>
		<td class="align-center benched">D</td>
		<td class="align-center benched">SWE</td>
		<td class="align-right benched">800K</td>
		<td class="align-center skill_class1">1</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class4">4</td>
		<td class="align-center skill_class1">1</td>
		<td class="align-center skill_class2">2</td>
		<td class="align-center skill_class4">25</td>
	</tr>
	<tr>
		<td class="align-right benched">14</td>
		<td class="benched">NICLAS ALEXANDERSSON</td>
		<td class="align-center benched">RW</td>
		<td class="align-center benched">SWE</td>
		<td class="align-right benched">1.6M</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class2">2</td>
		<td class="align-center skill_class2">2</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class6">6</td>
		<td class="align-center skill_class6">6</td>
		<td class="align-center skill_class2">2</td>
		<td class="align-center skill_class5">32</td>
	</tr>
	<tr>
		<td class="align-right benched">15</td>
		<td class="benched">KLAS INGESSON</td>
		<td class="align-center benched">M</td>
		<td class="align-center benched">SWE</td>
		<td class="align-right benched">1.1M</td>
		<td class="align-center skill_class6">6</td>
		<td class="align-center skill_class5">5</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class6">6</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class5">5</td>
		<td class="align-center skill_class1">1</td>
		<td class="align-center skill_class5">29</td>
	</tr>
	<tr>
		<td class="align-right benched">16</td>
		<td class="benched">JORGEN PETTERSSON</td>
		<td class="align-center benched">A</td>
		<td class="align-center benched">SWE</td>
		<td class="align-right benched">1.6M</td>
		<td class="align-center skill_class5">5</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class2">2</td>
		<td class="align-center skill_class2">2</td>
		<td class="align-center skill_class3">3</td>
		<td class="align-center skill_class7">7</td>
		<td class="align-center skill_class6">6</td>
		<td class="align-center skill_class5">32</td>
	</tr>
	<tr>
		<th class="align-right" colspan="4">Totals:</th>
		<th class="align-right">&pound;24.7M</a></th>
		<th class="align-center">71</th>
		<th class="align-center">69</th>
		<th class="align-center">64</th>
		<th class="align-center">76</th>
		<th class="align-center">58</th>
		<th class="align-center">59</th>
		<th class="align-center">47</th>
		<th class="align-center">444</th>
	</tr>
	<tr>
		<th class="align-right" colspan="4">Averages:</th>
		<th class="align-right">&pound;2M</a></th>
		<th class="align-center">5.1</th>
		<th class="align-center">4.9</th>
		<th class="align-center">4.6</th>
		<th class="align-center">5.4</th>
		<th class="align-center">4.1</th>
		<th class="align-center">4.2</th>
		<th class="align-center">3.4</th>
		<th class="align-center">31.7</th>
	</tr>
</table>