<content data-show="start" data-context="game-content">
	<!-- start view -->
	<div data-area="start">
		<h2>Fútbol is Life</h2>
	</div>

	<!-- manager view -->
	<div data-area="manager">
		<div class="head">
			<span class="home-emblem"></span>
			<h3 class="home-team"><!-- home team name --></h3>
			<h4 class="score">0-0</h4>
			<h3 class="away-team"><!-- away team name --></h3>
			<span class="away-emblem"></span>
		</div>
		<div class="body">
			<div class="field">
				<canvas class="overview"></canvas>
				<div class="players">
					<!-- team formation goes here -->
				</div>
				<div class="form-buttons">
					<span data-click="set-formation" data-arg="4-4-2" class="active"></span>
					<span data-click="set-formation" data-arg="4-3-3"></span>
					<span data-click="set-formation" data-arg="4-5-1"></span>
					<span data-click="set-formation" data-arg="3-4-3"></span>
					<span data-click="set-formation" data-arg="3-5-2"></span>
					<span data-click="set-formation" data-arg="3-1-5-1"></span>
					<span data-click="set-formation" data-arg="5-3-2"></span>
					<span data-click="set-formation" data-arg="5-4-1"></span>
					<span data-click="set-formation" data-arg="4-2-2-2"></span>
					<span data-click="set-formation" data-arg="4-2-3-1"></span>
					<span data-click="set-formation" data-arg="2-4-4"></span>
					<span data-click="set-formation" data-arg="2-5-3"></span>
				</div>
			</div>
			<div class="list">
				<!-- team list goes here -->
			</div>
		</div>
	</div>

	<!-- stadium view -->
	<div data-area="stadium">
		<canvas class="canvas"></canvas>
	</div>
</content>