<content>
	<div class="arena">
		<div class="bleachers top"></div>
		<div class="bleachers bottom"></div>

		<div class="blueprint"></div>
		<div class="field">
			<div class="top">
				<div class="left-corner"></div>
				<div class="goal-box"></div>
				<div class="penalty-box"></div>
				<div class="penalty-arc"></div>
				<div class="right-corner"></div>
			</div>
			<div class="bottom">
				<div class="left-corner"></div>
				<div class="goal-box"></div>
				<div class="penalty-box"></div>
				<div class="penalty-arc"></div>
				<div class="right-corner"></div>
			</div>
		</div>
	</div>
</content>
