<content>
	<div class="arena">
		<div class="bleachers top">
			<div class="police"></div>
			<div class="police"></div>
		</div>
		<div class="stands top"></div>
		<div class="stands left"></div>
		<div class="stands right"></div>
		<div class="stands bottom"></div>
		<div class="bleachers bottom">
			<div class="police"></div>
			<div class="police"></div>
		</div>

		<!-- <div class="blueprint"></div> -->
		
		<div class="field">
			<div class="top">
				<div class="left-corner"></div>
				<div class="goal"></div>
				<div class="goal-box"></div>
				<div class="penalty-box"></div>
				<div class="penalty-arc"></div>
				<div class="right-corner"></div>
			</div>
			<div class="bottom">
				<div class="left-corner"></div>
				<div class="goal"></div>
				<div class="goal-box"></div>
				<div class="penalty-box"></div>
				<div class="penalty-arc"></div>
				<div class="right-corner"></div>
			</div>
			<div class="ball"></div>
		</div>
	</div>
</content>
